.nav-link {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    color: #010a3a !important;
  }

  .nav-link:hover {
    color: #010a3a !important;
    transition: 0.3s;
  }


  .nav-item {
    margin-left: 15px;
  }

  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .nav-link {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
}
.nav-item {
    margin-left: 15px;
}
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.ass{
    font-weight: bold;
    border-bottom: 2px solid #010a3a;
}
.nav-link:hover {
    color: #010a3a !important;
    transition: 0.3s;
}
.hh button{
    border-color: rgb(0, 0, 94);
    color: rgb(0, 0, 94);
    width: 125px;
    height: 30px;
}
.hh h1{
    color: rgb(0, 0, 94);
    font-size: 20px;
}
.hh{
    gap: 800px;
    padding-top: 30px;
}
.knife{
  height: 300px;
}
.all{
  width: 300px;
  border: none;
}